# Ignore the Virtual Env to be added to Git Repo
# Its cleaner to get a requirements.txt using pip freeze to install dependencies.
/py3env
Implement.txt
my_app.log
/__pycache__
token.pickle
credentials.json
client_secrets.json
/toolkitlogs/my_app.log
mycreds_googleDrive.txt
settings.yaml
